.form-signout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form-signout a{
    color: var(--primary-color);
}

.form-signout a:hover{
    text-decoration: underline;
}
